@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#footer {
    /* padding: 40px 0; */
    /* background-image: url("../img/mountain.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    opacity: 0.1;
    z-index: -1; */
    background-color: linear-gradient(to right, #fdfbfb, #ebedee);
    box-shadow: 0px 0px 15px -10px #000F2C;
}

#footer .section-title {
    text-align: center;
    color: #123d5f;
    margin-bottom: 20px;
    text-transform: uppercase;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 30px;
    color:#415e61;
}
#footer a {
    color: #415e61;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#415e61;
}
#footer ul.social li a:hover{
	color:#415e61;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
.bg-foot{
    background-image: url("../img/relax.jpg");
    margin-top: -1000px;
    opacity: 0.7;
    /* padding-bottom: 100px; */
    z-index: -1;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    /* height: 300px; */
    /* box-shadow: 0px 0px 15px -10px #000F2C; */

  }