.profile-picture {
    background-image: url("https://source.unsplash.com/5FRTLSMwCfg");
    background-size: cover;
    /* top: 65px; */
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
    display: block;
    z-index: 1;
    border: 1px solid #949599;
    position: absolute;
  }
  .styled progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 10px;
  
    /* Firefox */
    border: none;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.9) inset;
  }
  
  .styled progress::-webkit-progress-bar {
    background: none 50%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.9) inset;
    border-radius: 3px;
  }
  
  /* .styled progress::-webkit-progress-value {
    background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .2) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);
    border-radius: 3px;
  } */
  .styled progress::-webkit-progress-value::before{
    content: '80%';
  position: absolute;
  right: 0;
  top: -125%;
  }
  .styled progress::-moz-progress-bar {
    background-color: #CC0000;
    border-radius: 3px;
  }
  .profile-picture-outer-radius {
    width: 108px;
    height: 107px;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    border: 1px solid #949599;
    position: absolute;
  }
.box{
  background-color: rgba(0, 0, 0, 0.1); 
}
.box img {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  padding: 5px 5px 5px 5px;  
}
hr {
  border:1px solid #949599;
}